body {

  margin: 0;
 overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: rgb(176, 235, 253);
  }
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 400px){
  body{
    width:auto;
    height:640px;
    overflow:auto;
    
  }

}
@media only screen and (min-width: 400px){
  body{
    width:auto;
    height:inherit;
    overflow:auto;
    
  }
}

/* dweddwefffwfewwwwwwwwwwwwwwwwwwwfeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/

*{
  box-sizing: border-box;
}

@media only screen and (min-width: 400px){
/* landing page*/
.land{
  background-image: url('./Images//post.jpg');
  height: 668px;
  width: 1349px;
}

.land > .landnavs > {
  padding-left: 500px;
  border:solid rgb(3, 48, 90);
  height: 60px;
}
.land > p {
  text-align: center;
  padding-top: 200px;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
  opacity:70%;
  color: rgb(4, 43, 116);
}

  /* LOGIN PAGE CSS*/
 /* /////// ///// ////*/
 .log{
   margin-left: 500px;
 }
 input[type="text"]::placeholder {
  font-size: 18px;
  color: black;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  opacity: 70%;
  
}
.log-but{
  margin-left: 125px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 30px;
  border: solid white;
  color: black;
  background-color: white;
  padding: 0;
  width: 100px;
  height: 50px;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 40px;
}
.login-title{
  margin-left: 100px;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: Black;
 
}
.login{
  padding:10px;
  width:1366px;
  height:500px;
  font-family:sans-serif;
  font-size: 20px;background-image:url('./Images/bck-1.jpg') ;

}
.user{
  height: 50px;
  width:260px;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  margin-left: 40px;
  margin-top:15px;
  margin-bottom: 30px;
  border-radius: 5px;
  color:  black; 
  text-indent: 37%;
  opacity: 90%;

}
input[type=text],input[type=password]{
    height: 50px;
    width:260px;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 5px;
    margin-top:15px;
    font-family: 'Varela Round', sans-serif;
    color:#2c455f ;
}
.account{
  padding-left: 95px;
  
  font-size: 16px;
  color: black;
  font-family: 'Varela Round', sans-serif;
  word-spacing: 5px;
  letter-spacing: 0.8px;
  font-weight: bold;
  opacity: 75%;
}
.account:hover{
  text-decoration: none;
  text-emphasis: none;
  color: black;
}

/* SIGN PAGE CSS */
/* ///////// ////////  */

#sign{
  padding:10px;
  width:400px;
  margin: 0 33.6%;
  height:550px;
  font-family:sans-serif;
  font-size: 20px;
  
}
.sign-title{
  margin-bottom:65px;
  text-align: center;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: black;
}
#user{
    height: 50px;
    width:260px;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    margin-left: 40px;
    margin-bottom: 30px;
    border-radius: 5px;
    color:  black; 
    text-indent: 35%;
    opacity:90%;
}
.sign-but{
  margin-left: 115px;
  font-family: 'Varela Round', sans-serif; 
  color: white;
  background-color:black;
  border: 0;
  width: 100px;
  height:40px;
  font-size: 25px;
  border-radius: 10px;
}

     /*  HEADER CSS */

.head{
  text-emphasis: none;
  font-size: 25px;
  padding: 0;
  height: 60px;
  list-style: none;
  background-color: rgb(4, 43, 116);
  
}

.head > .homenav {
  font-family: 'Varela Round', sans-serif; 

}

.nitem{
  padding-right: 25px;
  font-family: 'Varela Round', sans-serif;
  padding-top: 20px;
}


/*  Footer page*/
.footer{
  width: 1349px;
  padding: 0 ;
  height:170px;
  margin:0;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 18px;
}
.contact{
  position: relative;
  float: left;
  background-color:rgb(4, 71, 116);
  padding:20px 70px;
  width: 449.7px;
   padding:20px 70px;
  height: inherit;
}
.sites{
    position: relative;
    float: right;   
    background-color:rgb(4, 71, 116);
    padding: 0;
    width: 449.0px;
    padding:20px 70px;
    height: inherit;
    color: black;
}
.address{
  float: right;
  position: relative;
  background-color:rgb(4, 71, 116);
  padding: 0;
  width: 449.7px;
   padding:20px 70px;
  height: inherit;
}
.footer > .contact > li, .sites > li,.address > li{
  list-style-type: none;
  text-decoration: none;
  color: black;
}
.sites > li :hover{
  text-decoration: none;
  color: black;
}
.sites > li > a{
  color: black;

}
/*  Students Corner */

.sc{
  width: 1366px;
  height: 565px;
  background-image: url('./Images//post.jpg');
}

.r1 > a >  img{
  margin:50px 130px;
  background-color: rgb(79, 146, 233);
  border-radius:"50px";
  border:"solid rgb(34, 85, 151)";
  width:"200px";
  height:"200px";
  padding:"15px"
}  

.r2 > a >  img{
  margin:30px 130px;
  background-color: rgb(79, 146, 233);
  border-radius:"50px";
  padding:"15px";
  border:"solid rgb(34, 85, 151)";
  width:"200px";
  height:"200px";
}

.r1 > a > img .academics{
  border-radius:"50px";
}

/* Food page*/

.food{
  padding:10px;
  width:1349px;
  height:600px;
  font-family:sans-serif;
  font-size: 20px;
  background-image: url('./Images/post.jpg');
}
.food-title{
  margin-bottom:65px;
  margin-left: 100px;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: black;
}
.foodcontent{
    padding-left: 450px;
    width: auto;
}

.fform{
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.fbut{
  margin-left: 200px;
  margin-top: 10px;
  font-family: 'Varela Round', sans-serif;
}
.food > form >  input[type=textarea]{
  height: 3000px;
 
}
.fp{
  width: 900px;
  margin: 0;
}
.fd{
  width: 900px;
  height:200px;
  margin: 0;

}
#image{
  margin-left: 38px;
}

}
/*//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////// */

                 /*  Responsive Design */

 @media only screen and (max-width: 400px) {

  /* Footer page*/

  .footer{
    width: 375px;
    padding: 0 ;
    height:212px;
    
    font-family: 'Baloo Bhaina', cursive;
    font-size:9px;
  }
  .contact{
    position: relative;
    float: left;
    background-color:rgb(4, 71, 116);
    padding:5px 5px;
    width:125px;
    height: inherit;
    margin: 0;
  }
  .sites{
      position: relative;
      float: right;   
      background-color:rgb(4, 71, 116);
      padding:5px 2px;
      width: 125px;
      margin: 0;
      height: inherit;
      color: black;
  }
  .address{
    float: right;
    position: relative;
    background-color:rgb(4, 71, 116);
    padding:5px 5px;
    width: 125px;
    height: inherit;
  }
  .footer > .contact > li, .sites > li,.address > li{
    list-style-type: none;
    text-decoration: none;
    color: black;
  }
  .sites > li :hover{
    text-decoration: none;
    color: black;
  }
  .sites > li > a{
    color: black;
  
  }
  /* Landing page */
  .land{
    width: 375px;
    height: 590px;
    background-image: url('./Images//kct.jpg');
    padding: 200px 30px;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(4, 43, 116);
    
  }
  .land > p{
    opacity: 60%;
  }

 /* Header Page */
  
  .head{
    text-emphasis: none;
    font-size: 20px;
    padding: 0;
    height: 60px;
    list-style: none;
    background-color: rgb(4, 43, 116);
    width: auto;
  }
  .nitem{
    text-align: right;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    
    color: rgb(3, 59, 133);
  }
  .homenav{
    margin-left: 150px;
    font-size: 20px;
    
  }
  .homenav > a{
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    
  }
  .homenav > a:hover{
    text-decoration: none;
    color: white;
    text-emphasis: none;
  }

/* Sign page */

  #sign{

    padding:70px 20px;
    width:auto;
    height:640px;
    font-family:sans-serif;
    font-size: 20px;
    background-color: cadetblue;
    background-image: url('./Images//post.jpg');
    
  }
  .sign-title{
    margin-bottom:50px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: black;
  }
  #user{
      height: 50px;
      width:260px;
      font-family: 'Varela Round', sans-serif;
      font-size: 18px;
      margin-left: 40px;
      margin-bottom: 30px;
      border-radius: 5px;
      color:  black; 
      text-indent: 35%;
      opacity:90%;
  }
  .sign-but{
    margin-left: 105px;
    font-family: 'Varela Round', sans-serif; 
    color: white;
    background-color:black;
    border: 0;
    width: 100px;
    height:40px;
    font-size: 25px;
    border-radius: 10px;
  }
  
  /* Login page */

  .log-but{
    margin-left: 125px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    border: solid rgba(53, 123, 170, 0.938);
    color: black;
    background-color: rgb(53, 123, 170);
    padding: 0;
    width: 100px;
    height: 50px;
    border-radius: 6px;
    font-weight: bold;
    
  }
  .login-title{
    margin-bottom:65px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: Black;
  }
  .login{
    padding:20px;
    width:auto;
    height:640px;
    font-family:sans-serif;
    font-size: 20px;
    background-image: url('./Images//post.jpg');
  }
  .user{
    height: 50px;
    width:260px;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    margin-left: 40px;
    margin-bottom: 30px;
    border-radius: 5px;
    color:  black; 
    text-indent: 37%;
    opacity: 90%;
  }
  .account{
    padding-left: 95px;
    
    font-size: 16px;
    color: black;
    font-family: 'Varela Round', sans-serif;
    word-spacing: 5px;
    letter-spacing: 0.8px;
    font-weight: bold;
    opacity: 75%;
  }
  .account:hover{
    text-decoration: none;
    text-emphasis: none;
    color: black;
  }
  input[type="text"]::placeholder {
    font-size: 18px;
    color: black;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    opacity: 70%;
    
  }
  input[type=text],input[type=password]{
    height: 50px;
    width:260px;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    color:#2c455f ;
}


/* students corner */
.sc{
  width: 375px;
  height: 590px;
  padding-left: 2px;
  background-image: url('./Images//post.jpg');
}
.r1{
  padding-top: 100px;
}
.r2{
  padding-top: 50px;
}
.academics{
  height: 100px!important;
  width:100px!important;
  margin-left: 32px;
  margin-top: 30px;
  background-color: rgb(59, 98, 170);
}
.hostel{
  height: 100px!important;
  width:100px!important;
  margin-left: 20px;
  margin-top: 30px;
  background-color: rgb(59, 98, 170);
}
.transport{
  height: 100px!important;
  width:100px!important;
  margin-left: 25px;
  margin-top: 30px;
  background-color: rgb(59, 98, 170);
}
.maintenance{
  height: 100px!important;
  width:100px!important;
  margin-left: 32px;
  margin-top: 30px;
  background-color: rgb(59, 98, 170);
}
.food{
  height: 100px!important;
  width:100px!important;
  margin-left: 20px;
  margin-top: 30px;
  background-color: rgb(59, 98, 170);
}
.sports{
  height: 100px!important;
  width:100px!important;
  margin-left: 30px;
  margin-top: 30px;
  background-color: rgb(59, 98, 170);
}

}
